<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:title" content="Challenge a Friend!">
    <meta property="og:description" content="Think you can guess the destination? Play now!">
    <meta property="og:image" content="{{ invite_image }}">
    <meta property="og:url" content="{{URL}}/user/challenges/{{ uri }}">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
</head>
<body>
    <h1>You've been challenged!</h1>
    <p>Click the link to play: <a href="{{FRONTEND_URL}}/challenge/{{ uri }}">Play Now</a></p>
</body>
</html>
